<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Document {% endblock titulo %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
	{% block estilos %}
		<style>
				.foot{
					height: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: white;
					background: #34495e !important;

				}

				.cabecera{
					background: #34495e !important;
				}
		</style>
	{% endblock estilos %}
	
	{% block extra %}
		
	{% endblock extra %}
		
 
</head>

<body>
	{% block menu %}
		<div class="container">
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-dark bg-primary navbar-expand-md fixed-top cabecera" id="mainNav">
						<div class="container">
							<a class="navbar-brand js-scroll-trigger" href="/">
									</a>
							<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarResponsive">
								<ul class="navbar-nav ml-auto text-center">
									<li class="nav-item">
										<a class="nav-link js-scroll-trigger" href="{% url 'mapa_view'%}">Mapa</a>
									</li>
									<li class="nav-item">
										<a class="nav-link js-scroll-trigger" href="{% url 'denuncia_view'%}">Crear Denuncia</a>
									</li>
									<li class="nav-item">
										<a class="nav-link js-scroll-trigger" href="{% url 'perfil_view' pk=user.id%} ">Perfil</a>
									</li>
									<li class="nav-item">
										<form action="{% url 'account_logout'%}" method="POST">
											{% csrf_token %}
											<a href="#" class="nav-link js-scroll-trigger" onclick="$(this).closest('form').submit()">Salir</a>
										</form>
									</li> 
								</ul>
							</div>
						</div>
					</nav>
			</div>
		</div>
	</div>
	{% endblock menu %}
{% block content %}

{% endblock %}
	

{% block footer %}
<div class="mt-5 pt-5"></div>
	<footer class="container-fluid bg-primary d-flex foot fixed-bottom">
		<div class="row align-items-center">
			<div class="col  ">
				Huerta Cuevas Javier 
			</div>
		</div>
	</footer>
{% endblock footer %}
	
    

    <script src="{% static 'app/scripts/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'app/scripts/popper.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>

