{% extends "app/base.html" %}

{% block estilos %}
<style>
		.foot{
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			background: #34495e !important;

		}

		.cabecera{
			background: #34495e !important;
		}
		      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
	   #map {
		height: 90%;
		width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
	  }


	.fm-nav a {
		color: #fff;
		padding: 15px;
	}

	.fm-nav .active, .fm-nav a:hover  {
		background: rgba(255,255,255,.1);
	}


</style>
{% endblock estilos %}
{% block content %}
<div id="map" class="container-fluid pt-5 mt-5">
 	<div class="row"></div>
</div>

<div class="row mb-5 pb-5">
		<div class="col">
			<div id="fm-nav">
				<ul class="fm-nav nav navbar-inverse bg-primary">
					<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
									Top Denuncias
							  </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
								Ultimos registrados
						  </a>
					</li>
					<li class="nav-item">
						<a  class="nav-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
								Comentarios mejor valorados
						</a>
					</li>
				</ul>
				
			  <div class="col-12">
				  <div class="collapse" id="collapseExample">
					  <div class="card card-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
					  </div>
					</div>
			  </div>
			</div>
		</div>
	</div>



   
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script type="text/javascript">
        
	  var contenido = [
        {% for x in object_list %}
        ['<div id="content"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">{{x.titulo}}</h1><div id="bodyContent"><pre>{{x.descripcion}}</pre><p><a href="{% url "noticia_view" pk=x.id %}">Ver mas</a></p></div></div>'],
        {% endfor %}
        ];
	  
    var locations = [
        {% for x in object_list %}
        [contenido[{{ forloop.counter }} -1].toString(),{{x.latitud}},{{x.longitud}},{{x.id}}],
        {% endfor %}
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: new google.maps.LatLng(32.514981,-117.034670),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
	
{% endblock content %}



